<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="iris">
<label>sepal length (cm)</label>
<input type="text" name="sepal length (cm)">
<br>
<label>sepal width (cm)</label>
<input type="text" name="sepal width (cm)">
<br>
<label>petal length (cm)</label>
<input type="text" name="petal length (cm)">
<br>
<label>petal width (cm)</label>
<input type="text" name="petal width (cm)">
<br>
<input type="submit">


    </form>
</body>
</html>